extends layout

block body
  div(ng-controller='AppCtrl')
    h2 Hello {{name}}
    div(ng-view)

    div
      | Angular Socket.io seed app: v
      span(app-version)
  div(id="map-canvas")    
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBw-CfRyI_58jK6TQ1fNQ6eGkhI3kH66_A')
  script(src='/socket.io/socket.io.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-route/angular-route.js')
  script(src='bower_components/angular-socket-io/socket.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='http://cdn.pubnub.com/pubnub.min.js')
  script(src='js/pubnub.js')
  